function Item.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
push argument 2
push argument 3
call BoundingBox.new 4
pop this 0
push pointer 0
return
function Item.dispose 0
push argument 0
pop pointer 0
push this 0
call BoundingBox.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Item.reset 0
push argument 0
pop pointer 0
push this 0
push argument 1
push argument 2
call BoundingBox.setCoordinate 3
pop temp 0
push constant 0
return
function Item.getBoundingBox 0
push argument 0
pop pointer 0
push this 0
return
function Item.draw 0
push argument 0
pop pointer 0
push this 0
call BoundingBox.getX 1
push this 0
call BoundingBox.getY 1
push this 0
call BoundingBox.getWidth 1
call Screen.drawCircle 3
pop temp 0
push constant 0
return
