function Main.main 0
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 1
push constant 1
not
pop local 2
label WHILE-0
push local 2
not
if-goto WHILE-1
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto L1-0
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto L1-0
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto L1-1
label L1-0
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label L1-1
goto L1-1
label L1-0
push constant 0
pop local 2
label L1-1
goto WHILE-0
label WHILE-1
push constant 0
return
function Main.nextMask 1
push argument 1
push constant 0
eq
not
if-goto L1-4
push constant 1
return
goto L1-5
label L1-4
push argument 1
push constant 2
call Math.multiply 2
return
label L1-5
function Main.fillMemory 3
label WHILE-1
push argument 3
push constant 0
gt
not
if-goto WHILE-2
push argument 2
push argument 4
call Memory.poke 2
pop temp 0
push argument 3
push constant 1
sub
pop argument 3
push argument 2
push constant 1
add
pop argument 2
goto WHILE-1
label WHILE-2
push constant 0
return
