function Screen.init 0
push constant 0
not
pop static 0
push constant 16384
pop static 1
push constant 0
return
function Screen.clearScreen 1
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 24575
lt
not
if-goto WHILE_END0
push local 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push static 0
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 0
push constant 0
return
function Screen.drawPixel 4
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 1
push local 1
push static 1
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 15
and
call Math.power_of_two 1
pop local 3
push static 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push static 1
add
push local 0
push local 3
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 1
push static 1
add
push local 0
push local 3
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push constant 0
return
function Screen.drawLine 6
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 2
push argument 0
sub
pop local 0
push argument 3
push argument 1
sub
pop local 1
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 3
push local 1
eq
not
not
if-goto WHILE_END0
push argument 0
push argument 1
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 1
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push constant 1
add
pop local 3
goto IF_END1
label IF_FALSE1
push local 3
push constant 1
sub
pop local 3
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
label IF_FALSE0
push local 1
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 32
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
pop local 2
push argument 1
push constant 32
call Math.multiply 2
push argument 2
push constant 16
call Math.divide 2
add
pop local 3
push local 2
push local 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
neg
pop local 4
push argument 2
push argument 0
sub
pop argument 2
label WHILE_EXP1
push local 4
push argument 2
lt
not
if-goto WHILE_END1
push argument 0
push local 4
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
label IF_FALSE3
push local 2
push local 3
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
pop local 5
push local 2
pop local 3
push local 5
pop local 2
push argument 0
pop local 5
push argument 2
pop argument 0
push local 5
pop argument 2
push argument 1
pop local 5
push argument 3
pop argument 1
push local 5
pop argument 3
label IF_FALSE4
push constant 0
pop local 4
push constant 16
push local 2
push constant 1
add
push argument 1
push constant 32
call Math.multiply 2
sub
call Math.multiply 2
push argument 0
sub
pop local 5
label WHILE_EXP2
push local 4
push local 5
lt
not
if-goto WHILE_END2
push argument 0
push local 4
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP2
label WHILE_END2
push local 2
push constant 1
add
pop local 4
label WHILE_EXP3
push local 4
push local 3
lt
not
if-goto WHILE_END3
push local 4
push static 1
add
push static 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP3
label WHILE_END3
push constant 0
pop local 4
push constant 16
push local 3
push argument 1
push constant 32
call Math.multiply 2
sub
call Math.multiply 2
pop local 5
label WHILE_EXP4
push local 4
push argument 2
push local 5
sub
lt
not
if-goto WHILE_END4
push local 5
push local 4
add
push argument 1
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP4
label WHILE_END4
push constant 0
return
label IF_FALSE2
label WHILE_EXP5
push local 2
push local 0
call Math.abs 1
eq
push local 3
and
push local 1
call Math.abs 1
eq
not
not
if-goto WHILE_END5
push local 0
push constant 0
gt
push local 1
and
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 0
push local 2
add
push argument 1
push local 3
sub
call Screen.drawPixel 2
pop temp 0
label IF_FALSE5
push local 0
push constant 0
gt
push local 1
and
push constant 0
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 0
push local 2
add
push argument 1
push local 3
add
call Screen.drawPixel 2
pop temp 0
label IF_FALSE6
push local 0
push constant 0
lt
push local 1
and
push constant 0
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push argument 0
push local 2
sub
push argument 1
push local 3
add
call Screen.drawPixel 2
pop temp 0
label IF_FALSE7
push local 0
push constant 0
lt
push local 1
and
push constant 0
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push argument 0
push local 2
sub
push argument 1
push local 3
sub
call Screen.drawPixel 2
pop temp 0
label IF_FALSE8
push local 4
push constant 0
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
call Math.abs 1
add
pop local 4
goto IF_END9
label IF_FALSE9
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
call Math.abs 1
sub
pop local 4
label IF_END9
goto WHILE_EXP5
label WHILE_END5
push constant 0
return
function Screen.drawRectangle 1
push argument 1
pop local 0
label WHILE_EXP0
push local 0
push argument 3
lt
not
if-goto WHILE_END0
push argument 0
push local 0
push argument 2
push local 0
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Screen.drawCircle 2
push argument 2
push constant 181
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 181
pop argument 2
label IF_FALSE0
push argument 2
neg
pop local 0
label WHILE_EXP0
push local 0
push argument 2
gt
not
not
if-goto WHILE_END0
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 1
push local 0
add
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
